.h1{
    text-align: center;
}
.h5{
    margin-top:450px;
}
.p{
    margin-top: 425px;
}
.image{
    margin-left: 300px;
    margin-top: 75px;
}
.title{
   margin-left: 10%;
   font-weight: bold;
   font-size: 20px;
}
.main{
    display: flex;
}
.secmain{
    padding-top: 350px;
}